@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:root {
  --global-font-family: 'Noto Sans JP', sans-serif;
  --global-text-primary: rgba(0, 0, 0, 0.87);
  --global-text-secondary: rgba(0, 0, 0, 0.54);
  --global-background: rgba(255, 255, 255, 0);
  --global-background-hover: rgba(0, 0, 0, 0.04);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: var(--global-font-family);
  color: var(--global-text-primary);
}
