@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

:root {
  --global-font-family: 'Source Serif Pro', sans-serif;
  --global-text-primary: rgba(0, 0, 0, 0.87);
  --global-text-secondary: rgba(0, 0, 0, 0.75);
  --global-background: #ffffff;
  --global-background-hover: rgba(0, 0, 0, 0.25);
  --special-color: rgb(255, 107, 131);
  --nav-height: 60px;
}

.dark {
  --global-background: rgb(30, 30, 30);
  --global-text-primary: rgb(255, 255, 255, 0.95);
  --global-text-secondary: rgb(255, 255, 255, 0.75);
  --global-background-hover: rgba(255, 255,255, 0.25);
  --special-color: rgb(255, 176, 189);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--global-font-family);
  color: var(--global-text-primary);
  background-color: var(--global-background);
}
