@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --global-font-family: 'Roboto', sans-serif;
  --global-text-primary: rgba(0, 0, 0, 0.87);
  --global-text-secondary: rgba(0, 0, 0, 0.54);
  --global-background: rgb(255, 255, 255);
  --global-background-hover: rgba(0, 0, 0, 0.1);
  --special-color: rgb(255, 130, 150);
  --nav-height: 60px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: var(--global-font-family);
  color: var(--global-text-primary);
  background-color: var(--global-background);
}

#root {
  width: 100%;
  height: 100%;
}
