.side-drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 70%;
  max-width: 300px;
  height: 100%;
  background-color: #fff;
  z-index: 3;
  transform: translateX(-300px);
  transition: transform 400ms ease-out;
  display: flex;
  flex-direction: column;
}

.open {
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.75);
  transform: translateX(0);
}

.side-logo {
  text-align: center;
  padding: 20px 0;
}

.side-logo img {
  width: 100%;
  max-width: 60px;
}

.list {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.items {
  display: flex;
  align-items: center;
  padding: 15px 10px;
}

.items:hover {
  background-color: var(--global-background-hover);
}

.items-link {
  padding-left: 10px;
  color: var(--global-text-primary);
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.items-link i {
  font-size: 20px;
}

.items-link span {
  font-size: 16px;
}

.items-link span[role='img'] {
  margin-right: 15px;
}

.spacer {
  flex: 2;
}

#theme-toggle-div {
  padding: 15px 20px;
  display: flex;
  align-items: center;
}
