.side-drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 70%;
  max-width: 300px;
  height: 100%;
  background-color: var(--global-background);
  z-index: 2;
  display: flex;
  flex-direction: column;
  transform: translateX(-300px);
  transition: transform 400ms ease-out;
}

.open {
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.75);
  transform: translateX(0);
}

.side-logo {
  text-align: center;
  padding: 20px 0;
}

.side-logo img {
  width: 100%;
  max-width: 60px;
}

.list {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.items {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 50px;
}

.items:hover {
  background-color: var(--global-background-hover);
}

.items-link {
  display: flex;
  color: var(--global-text-primary);
  width: 100%;
  height: 100%;
  text-decoration: none;
  align-items: center;
}

.sideitem-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.spacer {
  flex: 2;
}

#theme-toggle-div {
  padding: 15px 20px;
  display: flex;
  align-items: center;
}
