footer .footer-links {
  display: flex;
  justify-content: space-evenly;
  padding: 5px 0;
  max-width: 500px;
  margin: 0 auto;
}

footer .footer-links div a {
  display: inline-block;
  color: var(--global-text-primary);
  transition: transform 200ms ease-in;
}

.footer-links div a:hover {
  transform: scale(1.25) translateY(-2px);
}

.footer-copyright {
  text-align: center;
  padding: 10px 0;
}
