.rocket-div {
  margin: 0 auto;
}

.rocket-div svg {
  width: 400px;
  height: 400px;
  animation: move 2s infinite;
}

/* Rocket Animation */
@keyframes move {
  0%,
  100% {
    transform: translate(-10px, -10px);
  }
  50% {
    transform: translate(10px, 10px);
  }
}

@media (max-width: 768px) {
  .rocket-div svg {
    width: 200px;
    height: 200px;
  }
}
