.join-page {
  width: 60%;
  margin: 0 auto;
  padding-top: var(--nav-height);
}

.join-header {
  text-align: center;
}

.join-page > p {
  text-align: center;
  font-style: italic;
  color: var(--global-text-secondary);
}

.join-header h2 {
  text-transform: uppercase;
  margin: 10px;
}

@media (max-width: 768px) {
  .join-page {
    width: 90%;
  }
}
