.developers {
  width: 60%;
  margin: 0 auto;
  padding-top: 60px;
}

.developers-header {
  text-align: center;
  letter-spacing: 1px;
  padding: 5px 0;
}

.developers-table {
  overflow-x: auto;
}

table {
  width: 100%;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.54);
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.54);
}

td a {
  font-size: 16px;
  /* padding: 0 5px; */
  color: var(--global-text-primary);
}

/* tr:nth-child(even) {
    background-color: #f2f2f2
} */

@media (max-width: 768px) {
  .developers {
    width: 90%;
  }
}
