.developers {
  width: 60%;
  margin: 0 auto;
  padding-top: 60px;
}

.developers-header {
  text-align: center;
  letter-spacing: 1px;
  /* padding: 5px 0; */
  margin: 10px 0;
}

.developers-table {
  overflow-x: auto;
}

.developers-table table {
  width: 100%;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.54);
  border-collapse: collapse;
  border-spacing: 0;
}

.developers-table td,
th {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.54);
}

.developers-table td a {
  font-size: 16px;
  color: var(--global-text-primary);
}

@media (max-width: 768px) {
  .developers {
    width: 90%;
  }
}
