.developers {
  width: 60%;
  margin: 0 auto;
  padding-top: var(--nav-height);
}

.developers-header {
  text-align: center;
}

.developers-table {
  overflow-x: auto;
}

.developers-table table {
  width: 100%;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.54);
  border-collapse: collapse;
  border-spacing: 0;
}

.developers-table td,
th {
  padding: 10px;
  border: 1px solid var(--global-text-primary);
}

.developers-table td a {
  color: var(--global-text-primary);
}

@media (max-width: 768px) {
  .developers {
    width: 90%;
  }
}
