.projects {
  width: 60%;
  margin: 0 auto;
  padding-top: var(--nav-height);
  text-align: center;
}

.projects h1 {
  margin: 10px 0;
}

.projects .table-div {
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
}

.table-div::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

.projects table {
  border: 1px solid rgba(0, 0, 0, 0.54);
  border-collapse: collapse;
  border-spacing: 0;
}

.projects table th {
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.54);
}

.projects table td {
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.54);
}

table a {
  font-size: 16px;
}

@media (max-width: 768px) {
  .projects {
    width: 95%;
  }
}
