.projects {
  width: 60%;
  margin: var(--nav-height) auto 0 auto;
  text-align: center;
}

.projects h1 {
  margin: 10px 0;
}

.projects .table-div {
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
}

/* .table-div::-webkit-scrollbar {
  scrollbar-width: none;
  background-color: transparent;
} */

.projects table th {
  padding: 5px 10px;
}

.projects table td {
  padding: 5px 10px;
}

table a {
  font-size: 16px;
}

@media (max-width: 768px) {
  .projects {
    width: 95%;
  }
}
