.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    /* TEST */
    /* background-color: #262626; */
}

.logo img {
    width: 50px;
    padding: 8px 16px;
    animation: rotate 3s;
}

.menu-icon {
    display: flex;
    height: 50px;
    width: 50px;
    margin-left: auto;
    border-radius: 50%;
    /* background-color: #262626; */
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.menu-icon:hover {
    background-color: white;
}

.menu-icon i {
    color: pink;
    font-size: 28px;
    cursor: pointer;
}
